$fonts_path_prefix: "/fonts/" !default;

@mixin font-face($family, $file, $weight: null, $style: null) {
  @font-face {
    font-family: $family;
    src: url("#{$fonts_path_prefix}#{$file}.woff2") format("woff2"),
      url("#{$fonts_path_prefix}#{$file}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@include font-face("Basier Square", "basiersquare/basiersquare-regular", 400);
@include font-face("Basier Square", "basiersquare/basiersquare-regularitalic", 400, $style: italic);
@include font-face("Basier Square", "basiersquare/basiersquare-bold", 700);
@include font-face("Basier Square", "basiersquare/basiersquare-bolditalic", 700, $style: italic);

@include font-face("Basier Square Mono", "basiersquaremono/basiersquaremono-regular", 400);
@include font-face("Basier Square Mono", "basiersquaremono/basiersquaremono-regularitalic", 400, $style: italic);
@include font-face("Basier Square Mono", "basiersquaremono/basiersquaremono-bold", 700);
@include font-face("Basier Square Mono", "basiersquaremono/basiersquaremono-bolditalic", 700, $style: italic);

$default_features: '"kern", "mark"';
$code_features: '"mark", "frac"';

html {
  font-feature-settings: #{$default_features} 1;
}

pre,
code,
.expandable-code,
.monospace {
  font-feature-settings: #{$code_features};
}
