@charset "UTF-8";

// ----------------------------------------------------------------------------

:root {
  --bg: rgba(254, 254, 254, 1);
  --fg: rgba(46, 52, 64, 1);
  --accent: rgba(18, 107, 251, 1);
  --accent-2: rgba(251, 119, 223, 1);
  --light: rgba(231, 236, 240, 1);
  --gray-rgb: 173, 178, 190;
  --gray: rgba(var(--gray-rgb), 1);
  --dark-gray: rgba(129, 136, 155, 1);

  --base-font: "Basier Square", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

  --monospace: "Basier Square Mono", menlo, monospace;

  --base-font-size: 17;
  --body-line-height: 1.7;
  --body-font-weight: 400;
  --heading-line-height: 1.5;

  --small-font-font-size: 0.85em;

  --content-width: 680;

  --ws: calc(1rem * 8 / var(--base-font-size));
}

// ----------------------------------------------------------------------------

@import "./fonts";

// ----------------------------------------------------------------------------

@mixin container() {
  width: 100%;
  max-width: calc(1rem * var(--content-width) / var(--base-font-size));
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: calc(100 * var(--base-font-size) / 16);
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-weight: var(--body-font-weight);
  font-family: var(--base-font);
  font-size: 1rem;
  line-height: var(--body-line-height);
  word-wrap: break-word;
  hyphens: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  @include container;
  flex: 1;
}

header,
footer {
  @include container;
  margin-top: calc(4 * var(--ws));
  margin-bottom: calc(4 * var(--ws));
}

article,
header,
footer,
.page {
  padding: 0 calc(2 * var(--ws));
}

footer {
  color: var(--dark-gray);
}

::selection {
  background-color: var(--accent);
  color: var(--bg);
}

header nav a {
  margin: 0 0.5em;
  color: var(--dark-gray);
  // font-weight: bold;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

code,
a,
pre {
  &::selection,
  ::selection {
    background-color: var(--accent-2);
  }
}

.monospace,
code,
pre {
  font-family: var(--monospace);
}

.small {
  font-size: var(--small-font-font-size);
}

.large {
  font-size: 1.4em;
}

.bold {
  font-weight: 700;
}

a {
  transition: color 0.15s, background-color 0.15s, outline 0.15s;
  color: inherit;
  text-decoration: underline;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  &.no-underline {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: var(--accent);
  }

  &:focus {
    outline: 3px solid var(--accent);
    outline-offset: 2px;
  }
}

summary {
  transition: color 0.15s, background-color 0.15s, outline 0.15s;
  cursor: pointer;

  &:focus {
    outline: 3px solid var(--accent);
    outline-offset: 2px;
  }
}

:not(pre) > code {
  padding: 0.1rem 0.15rem;
  margin: -0.1rem -0.15rem;
  background-color: rgba(var(--gray-rgb), 0.25);
  border-radius: 2px;
}

h1,
h2 {
  line-height: var(--heading-line-height);
}

h1 {
  margin-top: calc(4 * var(--ws));
  margin-bottom: calc(4 * var(--ws));
  font-size: 1.75rem;
}

h2 {
  margin-top: calc(2 * var(--ws));
  margin-bottom: calc(2 * var(--ws));
  font-size: 1.4rem;
}

h3,
h4 {
  font-size: 1.1rem;
}

h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-bottom: calc(2 * var(--ws));
  margin-top: calc(2 * var(--ws));
}

h5,
h6 {
  font-size: 1em;
}

blockquote,
pre,
.gist {
  margin-bottom: calc(4 * var(--ws));
  margin-top: calc(4 * var(--ws));
}

blockquote {
  color: var(--dark-gray);
  font-style: italic;
  margin-inline-start: 0;
  padding: 0 calc(2 * var(--ws));
  font-family: var(--monospace);
  margin-inline-start: calc(2 * var(--ws));

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

details.expandable-code {
  // Color of the syntax highlighted code, controlled by Zola
  background-color: rgba(15, 20, 25, 1);
  margin: var(--ws) 0;
  border-radius: 4px;

  pre {
    margin-top: 0;
  }

  &[open] {
    summary {
      &::after {
        content: "\00D7";
      }
    }
  }

  summary {
    color: var(--gray);
    padding: var(--ws);
    position: relative;
    font-family: var(--monospace);
    font-size: var(--small-font-font-size);

    list-style-type: none;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: "\002B";
      display: inline-block;
      position: absolute;
      right: 1em;
    }
  }
}

pre {
  padding: var(--ws);
  padding: calc(2 * var(--ws));
  overflow: auto;
  border-radius: 4px;
  line-height: 1.5;
  font-size: var(--small-font-font-size);
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  0.416666667% {
    transform: rotate(-10deg);
  }
  0.833333333% {
    transform: rotate(12deg);
  }
  1.25% {
    transform: rotate(-10deg);
  }
  1.666666667% {
    transform: rotate(9deg);
  }
  2.083333333% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 60s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.meta {
  color: var(--dark-gray);
}

article {
  > .meta {
    margin-top: calc(-2 * var(--ws));
    margin-bottom: calc(4 * var(--ws));
  }
}

article,
.page {
  hr {
    width: 50%;
    color: var(--light);
    background-color: var(--light);
    text-align: center;
    margin-top: calc(4 * var(--ws));
    margin-bottom: calc(4 * var(--ws));
    height: 3px;
    border: none;
  }
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

aside {
  margin-top: calc(3 * var(--ws));
  margin-bottom: calc(3 * var(--ws));
  padding: var(--ws) calc(2 * var(--ws));
  font-size: var(--small-font-font-size);
  border: 3px solid var(--light);
  color: var(--dark-gray);

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

figure.image {
  margin-top: calc(4 * var(--ws));
  margin-bottom: calc(4 * var(--ws));

  > a {
    &:hover {
      background-color: transparent;
    }
  }
}

.footnote-reference {
  font-weight: bold;
  color: var(--dark-gray);
  font-family: var(--monospace);

  > a {
    text-decoration: none;
  }
}

.footnote-definition {
  margin-top: calc(4 * var(--ws));
  margin-bottom: calc(4 * var(--ws));
  position: relative;

  > p::first-letter {
    margin-left: calc(var(--body-line-height) * 0.5em);
  }
}

.footnote-definition-label {
  position: absolute;
  top: 0.25em;
  font-weight: 700;
  display: inline-block;
  vertical-align: baseline;
  font-size: var(--small-font-font-size);
  color: var(--dark-gray);
  font-family: var(--monospace);
  font-size: 0.8em;
  text-align: center;
}

ul.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  a {
    display: block;
    margin-bottom: calc(2 * var(--ws));

    text-decoration: none;

    > div:last-of-type {
      padding-left: initial;
      display: block;
    }

    @media only screen and (min-width: 420px) {
      display: flex;
      margin-bottom: var(--ws);

      div:last-of-type {
        flex: 1;
        padding-left: 1em;
      }
    }
  }
}

// Zola specific styling
#zola-continue-reading {
  display: none;
}
