@charset "UTF-8";

@import "./fonts";

// ----------------------------------------------------------------------------

:root,
body[data-theme="light"] {
  --bg: rgba(254, 254, 254, 1);
  --fg: rgba(46, 52, 64, 1);
  --accent: rgba(22, 130, 247, 1);
  --light: rgba(231, 236, 240, 1);
  --gray-rgb: 173, 178, 190;
  --gray: rgba(var(--gray-rgb), 1);
  --dark-gray: rgba(129, 136, 155, 1);

  --rss-color: rgba(236, 128, 59, 1);

  --outline-width: 2px;

  --aside-border-color: var(--dark-gray);
  --aside-color: var(--dark-gray);

  --hr-color: var(--light);

  --base-font: "Basier Square", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

  --monospace: "Basier Square Mono", menlo, consolas, monospace;

  --base-font-size: 16;
  --body-line-height: 1.6;
  --body-font-weight: 400;
  --heading-line-height: 1.5;

  --small-font-font-size: 0.85em;

  --content-width: 660;

  --ws: calc(1rem * 8 / var(--base-font-size));
}

@mixin dark_theme_custom_properties() {
  --bg: rgba(21, 24, 26, 1);
  --fg: rgba(255, 255, 255, 1);
  --aside-border-color: var(--dark-gray);
  --hr-color: var(--dark-gray);
  --accent: rgba(88, 204, 253, 1);
}

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] {
    @include dark_theme_custom_properties();
  }
}

body[data-theme="dark"] {
  @include dark_theme_custom_properties();
}

// ----------------------------------------------------------------------------

@mixin container() {
  width: 100%;
  max-width: calc(1rem * var(--content-width) / var(--base-font-size));
  margin-left: auto;
  margin-right: auto;
}

html {
  font-size: calc(1px * var(--base-font-size));
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-weight: var(--body-font-weight);
  font-family: var(--base-font);
  font-size: 1rem;
  line-height: var(--body-line-height);
  word-wrap: break-word;
  hyphens: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  @include container;
  flex: 1;
}

header,
footer {
  @include container;
  margin-top: calc(2 * var(--ws));
  margin-bottom: calc(2 * var(--ws));
}

article,
header,
footer,
.page {
  padding: 0 calc(2 * var(--ws));
}

footer {
  color: var(--dark-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: var(--dark-gray);

  nav {
    a {
      color: var(--dark-gray);
      margin-right: 1em;
    }
  }

  > * {
    margin-top: calc(1 * var(--ws));
    margin-bottom: calc(1 * var(--ws));
  }
}

.monospace,
code,
pre {
  font-family: var(--monospace);
}

.small {
  font-size: var(--small-font-font-size);
}

.large {
  font-size: 1.4em;
}

.bold {
  font-weight: 700;
}

a {
  color: var(--accent);
  text-decoration: underline;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  &.no-underline {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: var(--accent);
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: var(--outline-width) solid var(--accent);
    outline-offset: 4px;
  }
}

button {
  color: inherit;
  &:focus {
    outline: var(--outline-width) solid var(--accent);
    outline-offset: 2px;
  }
}

summary {
  cursor: pointer;

  &:focus {
    outline: var(--outline-width) solid var(--accent);
    outline-offset: 2px;
  }
}

:not(pre) > code {
  padding: 0.1rem 0.15rem;
  margin: -0.1rem -0.15rem;
  background-color: rgba(var(--gray-rgb), 0.25);
  font-size: var(--small-font-font-size);
  border-radius: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1,
h2 {
  line-height: var(--heading-line-height);
}

h1 {
  margin-top: calc(3 * var(--ws));
  margin-bottom: calc(3 * var(--ws));
  font-size: 1.75rem;
}

h2 {
  margin-top: calc(2 * var(--ws));
  margin-bottom: calc(2 * var(--ws));
  font-size: 1.4rem;
}

h3,
h4 {
  font-size: 1.1rem;
}

h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-bottom: calc(2 * var(--ws));
  margin-top: calc(2 * var(--ws));
}

h5,
h6 {
  font-size: 1em;
}

blockquote,
pre,
.gist {
  margin-bottom: calc(3 * var(--ws));
  margin-top: calc(3 * var(--ws));
}

blockquote {
  color: var(--dark-gray);
  font-style: italic;
  margin-inline-start: 0;
  padding: 0 calc(2 * var(--ws));
  font-family: var(--monospace);
  margin-inline-start: calc(2 * var(--ws));

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

details.expandable-code {
  // Color of the syntax highlighted code, controlled by Zola
  background-color: rgba(15, 20, 25, 1);
  margin: var(--ws) 0;
  border-radius: 4px;

  pre {
    margin-top: 0;
  }

  &[open] {
    summary {
      &::after {
        content: "\00D7";
      }
    }
  }

  summary {
    color: var(--gray);
    padding: var(--ws);
    position: relative;
    font-family: var(--monospace);
    font-size: var(--small-font-font-size);

    list-style-type: none;

    &::-webkit-details-marker {
      display: none;
    }

    &::after {
      content: "\002B";
      display: inline-block;
      position: absolute;
      right: 1em;
    }
  }
}

pre {
  padding: var(--ws);
  padding: calc(2 * var(--ws));
  overflow: auto;
  border-radius: 4px;
  line-height: 1.5;
  font-size: var(--small-font-font-size);
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  0.416666667% {
    transform: rotate(-10deg);
  }
  0.833333333% {
    transform: rotate(12deg);
  }
  1.25% {
    transform: rotate(-10deg);
  }
  1.666666667% {
    transform: rotate(9deg);
  }
  2.083333333% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.wave {
  animation-name: wave-animation;
  animation-duration: 60s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.meta {
  color: var(--dark-gray);
}

article {
  > .meta {
    margin-top: calc(-2 * var(--ws));
    margin-bottom: calc(3 * var(--ws));
  }
}

article,
.page {
  hr {
    width: 50%;
    color: var(--hr-color);
    background-color: var(--hr-color);
    text-align: center;
    margin-top: calc(3 * var(--ws));
    margin-bottom: calc(3 * var(--ws));
    height: 2px;
    border: none;
  }
}

img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

aside {
  margin-top: calc(3 * var(--ws));
  margin-bottom: calc(3 * var(--ws));
  padding: var(--ws) calc(2 * var(--ws));
  font-size: var(--small-font-font-size);
  border: 2px dashed var(--aside-border-color);
  color: var(--aside-color);

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

figure.image {
  margin-top: calc(3 * var(--ws));
  margin-bottom: calc(3 * var(--ws));

  > a {
    &:hover {
      background-color: transparent;
    }
  }
}

.footnote-reference {
  color: var(--dark-gray);
  font-family: var(--monospace);
  font-size: var(--small-font-font-size);

  > a {
    text-decoration: none;
  }
}

.footnote-definition {
  margin-top: calc(3 * var(--ws));
  margin-bottom: calc(3 * var(--ws));

  > sup,
  > p {
    display: inline-block;
  }

  > p {
    margin-top: 0;
  }
}

.footnote-definition-label {
  font-weight: 700;
  display: inline-block;
  vertical-align: baseline;
  font-size: var(--small-font-font-size);
  color: var(--dark-gray);
  text-align: center;
  font-family: var(--monospace);

  text-decoration: none;

  &::before {
    content: "[";
  }

  &::after {
    content: "]";
  }
}

ul.post-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  a {
    display: block;
    margin-bottom: calc(2 * var(--ws));
    color: var(--fg);

    text-decoration: none;

    &:hover {
      color: var(--accent);
    }
  }

  time {
    white-space: nowrap;
  }

  @media screen and (min-width: 460px) {
    a {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    time {
      margin-left: 1em;
    }
  }
}

// Zola specific styling
#zola-continue-reading {
  display: none;
}

.icon-button {
  appearance: none;
  border: none;
  background-color: transparent;
  color: currentColor;
  text-decoration: none;

  cursor: pointer;

  display: inline-flex;
  align-items: center;

  height: 26px;

  padding: 2px;

  svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  &.large {
    width: 32px;
    height: 32px;
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.theme-switcher {
  // The switcher uses JS, it is shown only if JS is active.
  display: none;

  button {
    --theme-switcher-color: var(--accent);
    &:focus {
      outline: var(--outline-width) solid currentColor;
    }

    &:hover,
    &:focus {
      color: var(--theme-switcher-color);
      svg {
        fill: var(--theme-switcher-color);
      }
    }
  }
}

.theme-switcher button[data-theme="light"] {
  --theme-switcher-color: rgba(250, 190, 47, 1);
  display: none;
}

.theme-switcher button[data-theme="dark"] {
  --theme-switcher-color: rgba(54, 70, 168, 1);
}

@media (prefers-color-scheme: dark) {
  body[data-theme="auto"] {
    .theme-switcher button[data-theme="light"] {
      display: inline-block;
    }
    .theme-switcher button[data-theme="dark"] {
      display: none;
    }
  }
}

body[data-theme="dark"] {
  .theme-switcher button[data-theme="light"] {
    display: inline-block;
  }
  .theme-switcher button[data-theme="dark"] {
    display: none;
  }
}

.atom-link {
  &:hover,
  &:focus {
    color: var(--rss-color);
  }

  &:focus {
    outline: var(--outline-width) solid currentColor;
  }
}

.scroll-to-top {
  display: none;
}

.has-scrolled .scroll-to-top {
  display: initial;
}
