%clearfix {
  zoom: 1;

  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after { clear: both; }
}

@mixin respond-to($width, $context: 16, $limit: 'min') {
  @media only screen and (#{$limit}-width: $width / $context * 1em) {
    @content;
  }
}

@mixin centered($width) {
  margin-left: auto;
  margin-right: auto;
  max-width: $width / $base-size * 1rem;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  @include respond-to($width) {
    padding-left: 0;
    padding-right: 0;
  }
}

%center { @include centered($width-main); }
