body {
  background: $background;
  color: $foreground;
  font-family: $sans;
  position: relative;
  min-height: 100%;
  font-size: $main-size / $base-size * 1em;
  line-height: $baseline / $main-size * 1em;
  padding-bottom: 3 * $baseline / $main-size * 1em;
}

.main {
  @extend %clearfix;
}

a {
  text-decoration: none;
  transition: background-color .2s ease-in-out,
              color .2s ease-in-out,
              border-color .2s ease-in-out,
              border-style .2s ease-in-out;
}

h1, h2 {
  font-weight: 700;
}

h1 {
  line-height: 1.5 * $baseline / 2 / $main-size * 1em;
  font-size: 1.75em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-weight: 700;
  font-size: 1.3em;
}

h4 {
  text-transform: uppercase;
  font-size: .95em;
}

hr {
  border: 0;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #eaeef0;
}

p > code {
  background: #fefefe;
  font-family: $mono;
  color: #727272;
  font-size: .85em;
  border: #d9d9d9 1px solid;
  border-radius: 1px;
  display: inline;
  padding: 0.1em 0.3em;
  margin: 0 .2em;
}

ul,
ol {
  list-style-position: inside;
}

.meta {
  color: $light;
  font-weight: 600;
}

.content {

  @extend %clearfix;

  hr,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  > p,
  > ul,
  > ol,
  > blockquote,
  > pre,
  .gist,
  .footnotes {
    @extend %center;
  }

  > p,
  > ul,
  > ol,
  > blockquote,
  hr,
  > pre {
    margin-bottom: $baseline / $base-size / 2 * 1em;
  }

  > pre {

    padding-top: .4em;
    padding-bottom: .4em;

    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @include respond-to($width-main) {
      padding-right: 1em;
      padding-left: 1em;
      border-radius: 2px;
      border: 1px solid #d9d9d9;
    }
  }

  p,
  ul,
  ol,
  blockquote {
    a {
      border-bottom: 2px solid $light;
      font-weight: 600;
      padding-left: .15em;
      padding-right: .15em;

      &,
      &:visited {
        color: $accent;
      }

      &:hover {
        background-color: $accent-light;
        border-color: $accent-light;
        border-style: none none solid none;
      }
    }
  }
}

sup.footnote-ref > a {
  &, &:hover {
    text-decoration: none;
    border: none;
  }
}

.footnotes ol {
  list-style-position: outside;
}

.image-wrapper {
  display: block;
  padding: 0;
  position: relative;
  text-align: center;

  margin-top: 1.5 * $baseline / $main-size * 1em;
  margin-bottom: 1.5 * $baseline / $main-size * 1em;

  img {
    margin: 0 auto;
    padding: 0;
    width: 100%;

    &.small {
      max-width: $width-main / $base-size * 1rem;

      @include respond-to($width-main) {
        border-radius: 2px;
      }
    }

    &.big {
      max-width: $width-wide / $base-size * 1rem;

      @include respond-to($width-wide) {
        border-radius: 2px;
      }
    }

    // &.huge = {}

  }

  // Animate image loading effect
  img[data-src]{
    transition: opacity .25s ease-in-out,
                visibility .25s ease-in-out;
    visibility: hidden;
    opacity: 0;

    &.loaded {
      opacity: 1;
      visibility: visible;
    }
  }

  /* img[data-zoom]{
    cursor: zoom-in;
  } */

  noscript img, img.no-zoom {
    cursor: initial;
  }
}

.posts {
  list-style-type: none;

  /* .meta::after {
    content: ' • ';
  } */

  .meta {
    padding-right: 1em;
  }
}
