.main-menu {
  @extend %center;
  @extend %clearfix;

  padding-top: $baseline / $main-size * 1em;

  @include respond-to($width-main) {
    padding-top: 2 * $baseline / $main-size * 1em;
    padding-bottom: $baseline / $main-size * 1em;
  }
}

.main-menu__name,
.main-menu__links {
  margin: .2em auto;
}

.main-menu__name {
  float: left;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
  background-color: $foreground;
  color: $background;
  padding: 0 .25em;
  border-radius: 2px;

  &:hover {
    background: $accent;
  }
}

.main-menu__links {
  float: right;
  list-style-type: none;
  padding: 0;
  width: 70%;

  li {
    display: inline-block;
    float: right;
    font-size: 1;
    margin-left: 1em;
    margin-right: 0;
  }

  a {
    font-weight: 600;
    color: $light;
    font-size: 1em;

    &:hover,
    &.is-active {
      color: $foreground;
    }
  }
}
