$foreground: #4c4c4c;
$light: #c8ccd2;
$background: #fff;

$accent: #0099CC;
$accent-light: #c4e4f4;

$base-size: 10;
$main-size: 17;
$title-size: 32;
$baseline: 27;

$sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$serif: 'Merriweather', Georgia, serif;
$mono: 'Source Code Pro', monospace;

$width-main: 640;
$width-wide: 990;
$width-narrow: 380;
