/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}img,embed,iframe,object,audio,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0;text-align:left}

:root {
  --base-size: 18;
  --line-height: 30;
  --accent: rgba(0, 89, 249, 1.0);
}

body {
  background-color: rgba(254, 254, 254, 1.0);
  color: rgba(0, 13, 40, 1.0);
  font-family: "Space Mono", system-ui;
  font-size: calc(var(--base-size) / 16 * 1rem);
  line-height: calc(var(--line-height) / var(--base-size));
}

article {
  padding: calc(42 / var(--base-size) * 1em);
  max-width: calc(720 / var(--base-size) * 1em);
}

p {
  margin-top: calc(var(--line-height) / var(--base-size) * 1em);
}

.mark {
  height: 8px;
  width: 32px;
  background-color: var(--accent);
}

a {
  text-decoration: none;
  color: var(--accent);
  transition: background-color .15s ease-in-out, color .15s ease-in-out;
  border-radius: 1px;
}

a:hover,
::selection {
  background-color: var(--accent);
  color: rgba(254, 254, 254, 1.0);
}
