<footer>
    <div class="footer__inner">
        <div class="footer__credits">Charles Lirsac - 2013</div>
        <div class="footer__links">
            {% if site.social_github %}<a href="https://github.com/{{ site.social_github }}/" class="footer__link github"></a>{% endif %}
            {% if site.social_linkedin %}<a href="http://www.linkedin.com/in/{{ site.social_linkedin }}" class="footer__link linkedin"></a>{% endif %}
            {% if site.social_twitter %}<a href="https://twitter.com/@{{ site.social_twitter }}" class="footer__link twitter"></a>{% endif %}
        </div>
    </div>
</footer>