<!DOCTYPE HTML>
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="{{ page.title }}" name="title">
  <meta content="Charles Lirsac" name="author">
  <meta content="Copyright Charles Lirsac 2013. All Rights Reserved." name="Copyright">

  <title>{{ page.title }}</title>

  <!-- Mobile Viewport fix -->
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <!-- Google Fonts -->
  <!-- One compiled stylesheet -->
  <link href='{{ site.url }}assets/css/style.min.css' rel='stylesheet'>
</head>