{% if page.cover %}
<header class="cover" style="background-image: url({{ page.cover }});">
    <div class="header__cover-mask"></div>
    <div class="header__inner cover">
{% else %}
<header>
    <div class="header__inner">
{% endif %}
        <a class="header__name" href="{{ site.url }}">{{ site.title }}</a>
        <nav class="header__nav">
            <a class="header__nav-item home" href="{{ site.url }}">Home</a>
            <a class="header__nav-item about" href="{{ site.url }}/about/">About</a>
        </nav>
    </div>
</header>