<!DOCTYPE HTML>
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

  <meta content="{{ page.title }}" name="title">
  <meta content="Charles Lirsac" name="author">
  <meta content="Copyright Charles Lirsac 2014" name="Copyright">

  <!-- Mobile Tags -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, minimal-ui" />
  <meta http-equiv="cleartype" content="on">

  <title>{{ page.title }}</title>

  <!-- Fallbacks -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
  <![endif]-->
  <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <link rel="icon" type="image/png" href="/favicon-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
  <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon.png">

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,700|Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- One compiled stylesheet -->
  <link href='/assets/bundle.css' rel='stylesheet'>

  {% if page.stylesheet %}
  <!-- Custom stylesheet for current page -->
  <link href='/assets/css/custom/{{ page.stylesheet }}' rel='stylesheet'>
  {% endif %}

</head>
