//  ===============================================
//
//  Base module
//
//  ===============================================

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @extend %border-box;

    &:after,
    &:before {
        margin: 0;
        padding: 0;
        @extend %border-box;
    }
}

a {
    @include transition(color 0.4s ease-in-out,
                        opacity 0.4s ease-in-out,
                        background 0.4s ease-in-out);
}

html {
    height: 100%;
    font-size: $font-base#{px};
}

@media screen and (max-width: breakpoint(480)) {
    html {
        font-size: .9*$font-base#{px};
    }
}

body {
    position: relative;
    min-height: 100%;
    @include rems(padding-bottom, $footer-height);
    background: $bg;
    font-family: $font-family-sans;
    color: $gray;
}

.content{
    @extend %center;
    @include rems(margin-top, 42);
    height: auto;
    @include font-size($main-font-size);
    @include line-height($baseline, $main-font-size);
    position: relative;
}

h1, h2{
    font-weight: 900;
}