body {
    @include font-size($fs-0);
    @include line-height($baseline, $fs-0);
    background: $c-bg;
    color: $c-fg;
    font-family: $ff-sans;
    font-weight: $fw-main;

    position: relative;
    min-height: 100%;
}

.main {
    @include ems(padding-top, $fs-main, 2 * $baseline);
    @include ems(padding-bottom, $fs-main, 6 * $baseline);
}

a {
    text-decoration: none;

    &,
    * {
        transition: background-color .2s ease-in-out,
                    color .2s ease-in-out,
                    border-color .2s ease-in-out,
                    border-style .2s ease-in-out;
    }
}

hr {
    border: 0;
    border-bottom: 1px solid #fff;
    border-top: 1px solid $c-fg-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

h1 {
    @include font-size($fs-4, $fs-0);
    @include line-height(1.5 * $baseline, $fs-4);
    font-weight: 700;
}

h2 {
    @include font-size($fs-2, $fs-0);
    @include line-height($baseline, $fs-2);
    @include ems(margin-bottom, $fs-2, $baseline / 2);
    font-weight: 700;
}

h3 {
    @include font-size($fs-0, $fs-0);
}

h4 {
    @include font-size($fs--2, $fs-0);
    text-transform: uppercase;
}

p > code {
    background: #fefefe;
    color: #727272;
    border: #d9d9d9 1px solid;
    border-radius: 2px;
    display: inline;
    padding: 0.1em 0.75em;
    margin: 0 .2em;
}

sup > a {
    margin: 0 .5em;
    font-weight: 700;
    display: inline-block;
    text-decoration: underline;
}

.footnotes ol {
    list-style-position: outside;
}

%meta {
    color: $c-fg-clear;
    font-weight: 600;
}

.meta { @extend %meta; }

p,
ul,
ol {
    margin-top: 0;
}

ul,
ol {
    list-style-position: inside;
}

p,
ul,
ol,
blockquote,
hr,
.highlight { @include ems(margin-bottom, $fs-0, $baseline); }

p,
ul,
ol,
blockquote,
hr {
    a {

        // font-weight: 700;
        border-bottom: 1px dotted $c-fg-clear;

        &,
        &:visited {
            color: $c-accent;
        }

        &:hover {
            background-color: $c-accent-clear;
            // color: white;
            border-color: $c-accent-clear;
            border-style: none none solid none;
        }
    }
}

blockquote,
hr,
.highlight {
    @include ems(margin-top, $fs-0, $baseline);
}

blockquote {
    border-left: 8px solid $c-fg-light;

    p {
        color: $c-fg;
        font-style: italic;
        margin: 0;
        padding: 0.1em 0.75em;

        &.author {
            font-style: normal;
            font-weight: 700;
            padding-bottom: 0;
            padding-top: .5em;
        }
    }
}

.content {

    hr,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    > p,
    > ul,
    > ol,
    > blockquote,
    > .highlight,
    > .footnotes {
        @extend %center;
    }

    .highlight {

        @include respond-to($w-main) {
            border-radius: 2px;
        }

        code,
        pre {
            margin: 0;
            padding: 0;
        }

        pre { @include rems(padding, 8, 14); }
    }
}

.page-title {
    @extend %center;
    @include ems(margin-bottom, $fs-4, .5 * $baseline)
}

.image-wrapper {
    display: block;
    padding: 0;
    position: relative;
    text-align: center;

    @include ems(margin-top, $fs-0, 1.5 * $baseline);
    @include ems(margin-bottom, $fs-0, 1.5 * $baseline);



    img {
        cursor: zoom-in;
        margin: 0 auto;
        padding: 0;
        width: 100%;

        &.small {
            @include rems(max-width, $w-main);
        }

        &.big {
            @include rems(max-width, $w-large);
        }

        // &.huge = {}

    }

    noscript img, img.no-zoom {
        cursor: initial;
    }

    .image-caption {
        width: 100%;
        @include font-size($fs--2, $fs-0);
        @include line-height($fs-2, $fs--2);
        opacity: .8;
        margin: 0 auto;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;

        &.small {
            @include rems(max-width, $w-main);
        }

        &.big {
            @include rems(max-width, $w-large);
        }

        // &.huge = {}
    }
}

.hero-icon {
    @extend %icon;
    @extend %center;
    height: auto;
    text-align: center;
    @include font-size(128, $fs-0);
    @include line-height(164, 128);
    @include ems(margin-top, 42, $baseline);
    @include ems(margin-bottom, 42, $baseline);
}

.center {
    text-align: center;
}
