footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    @include ems(margin-top, $fs-main, 2 * $baseline);
    @include ems(margin-bottom, $fs-main, $baseline);
}

.footer-inner {
    @extend %center;
    color: $c-fg-clear;
    font-weight: 700;
    text-align: center;
    @include line-height(1.5 * $baseline, $fs-0);

    a.social {
        color: $c-fg-clear;
        @include font-size($fs-3);
        margin-right: .5em;

        &:last-of-type { margin-right: 0; }
    }
}
