//  ===============================================
//
//  Footer module
//
//  ===============================================

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  @include block-height($footer-height);
  @include rems(padding-top, $footer-height/4);
  background: $bg;
}

.footer__inner {
  @extend %center;
}

.footer__links, .footer__credits {
  @include rems(padding, 8, 0);
}

.footer__credits {
    font-weight: 400;
    color: $clear;
    float: left;
    @include font-size(16);
}
.footer__links {
  float: right;
}

.footer__link {
    @include font-size(20);
    @include rems(padding-right, 10);
    position: relative;
    display: inline-block;
    &:last-of-type { padding-right: 0; }
    @include link-color($clear);
    text-decoration: none;
    &:before {
        @include icon;
    }
    &.github {
        &:hover { color: $github-color; }
        @include icon-content("\e000");
    }
    &.linkedin {
        &:hover { color: $linkedin-color; }
        @include icon-content("\e01d");
    }
    &.twitter {
        &:hover { color: $twitter-color; }
        @include icon-content("\e002");
    }
    &.google-plus {
        &:hover { color: $google-plus-color; }
        @include icon-content("\e01a");
    }
    &.email {
        &:hover { color: $email-color; }
        @include icon-content("\e012");
    }
    &::after {
      position: absolute;
      content: attr(data-tooltip);
      @include font-size(11);
      font-weight: 700;
      display: block;
      @include rems(padding, 0, 6);
      @include block-height(28);
      background: black(.4);
      @include rems(width, 180);
      text-align: center;
      @include vendor(border-radius, 3px);
      @include rems(top, -96);
      opacity: 0;
      visibility: hidden;
      @include rems(left, -80);
      @include transition(top .4s ease-in-out,
                          opacity .4s ease-in-out);
      color: $bg;
    }
    &:hover {
      &::after {
        @include rems(top, -26);
        opacity: 1;
        visibility: visible;
        color: $bg;
      }
    }
}