.main-header {
    @extend %clearfix;
    @include ems(margin-top, $fs-main, $baseline);
    @include ems(margin-bottom, $fs-main, $baseline);
}

.header-inner {
    @extend %center;
}

.header-name,
.header-links {
    @include font-size($fs-0);
    @include line-height($baseline, $fs-0);
}

.header-links {
    float: left;
    font-weight: 700;
}

.header-links a {

    display: inline-block;
    margin-left: 1em;

    &:first-of-type {
        margin-left: 0;
    }

    &,
    &.visited {
        color: $c-fg-clear;
    }

    &.active {
        color: $c-accent-2;
    }

    &:hover {
        color: $c-accent;
    }
}

.header-name {
    float: left;
    font-family: $ff-serif;
    font-weight: 900;
}
