//  ===============================================
//
//  Post listing module (for home page)
//
//  ===============================================

.post-list {
    font-family: $font-family-sans;
    @include font-size(16);
}

.post-list__item {
    @include rems(margin, 48, 0);
    display: block;
    // &:hover {
    //     @include rems(padding-left, 24);
    // }
    // @include transition(padding-left .4s ease-in-out);
}

a.post-list__item {
    @include link-color($gray);
    text-decoration: none;
}

.post-title, .post-preview, .post-date {
    @include rems(margin, 2, 0);
}

.post-title {
    font-weight: 900;
    @include font-size(26);
}

.post-preview {
    font-weight: 300;
    @include rems(margin, 8, 0);
    p {
        margin: 0;
        padding: 0;
    }
}

.post-date {
    font-weight: 700;
    @include font-size(14);
    text-transform: uppercase;
    color: $clear;
}