//  ===============================================
//
//  Post module
//
//  ===============================================


// Post listing on front page

.post-list {
}

.post-list__item {
    @include rems(margin, 36, 0);
    display: block;
}

a.post-list__item {
    @include link-color($gray);
    text-decoration: none;
}

// Post items

.post-title, .post-content > p {
    @extend %center;
}

.post-title {
    @extend %center;
    @include font-size(36);
    font-weight: 700;
    @include line-height(42, 36);
    @include rems(margin-top, 24);
    @include rems(margin-top, 24);
    // border-bottom: solid 2px $light;
}

.post-content > p {
    @include rems(margin-top, 15);
    @include rems(margin-bottom, 15);
}

.post-date {
    font-weight: 900;
    @include font-size(15);
    text-transform: uppercase;
    color: $clear;
    @include icon;
    @include icon-content("\e024");
    &:before {
        @include font-size(14);
        @include rems(padding-right, 8);
    }
}

.post-content > .img  {
    @include rems(margin-top, 8);
    @include rems(margin-bottom, 8);
    text-align: center;
    img{
        margin: 0 auto;
        width: 100%;
        &.small {
            @include rems(max-width, $main-width);
            @media screen and (min-width: breakpoint($main-width)) {
                @include vendor(border-radius, 3px);
            }
        }
        &.big {
            @include rems(max-width, $large-width);
            @media screen and (min-width: breakpoint($large-width)) {
                @include vendor(border-radius, 3px);
            }
        }
        &.huge {}
    }
}