.post-header {
    @extend %center;
    text-align: center;
    @include ems(margin-bottom, $fs-main, $baseline);
    @include ems(margin-top, $fs-main, $baseline);
}

.posts {
    @extend %center;
    list-style-type: none;
}

li.post {
    width: 100%;
}

.post-meta {
    @extend %meta;
}
