//  ===============================================
//
//  header module
//
//  ===============================================

// pygments variables
// -------------------------

$py-background: #fefefe;
$py-foreground: $c-fg;
$py-comment: #998;

$py-red:          #f92683;
$py-orange:       #d88200;
$py-yellow:       #fdca81;
$py-green:        #75af2f;
$py-aqua:         #75c5ba;
$py-blue:         #3ea8c8;
$py-purple:       #c282ae;
$py-brown:        #a9643f;

// pygments blocks styles
// -------------------------

.highlight,
code,
pre {
    font-family: $ff-mono;
    @include font-size(13);
    line-height: 1.5;
    overflow: auto;
    white-space: pre;
    font-weight: normal;
}

.highlight { border: 1px solid #d9d9d9; }

// pygments colors
// -------------------------

.highlight .lineno {
    color: #8b8d8b;
    padding-right: 4px;
}

.highlight {

    background: $py-background;
    color: $py-foreground;

    // punctuation
    .p { color: $py-foreground; }

    // whitespace, other
    // .w,
    // .x {}

    // comment, comment.multiline, comment.preproc, comment.single, comment.special
    .c,
    .cm,
    .cp,
    .c1,
    .cs {
        color: $py-comment;
    }

    // error
    .err { color: $py-red; }

    // keyword, keyword.constant, keyword.declaration, keyword.pseudo, keyword.reserved
    .k,
    .kc,
    .kd,
    .kp,
    .kr {
        color: $py-purple;
    }

    // keyword.namespace
    .kn { color: $py-aqua; }

    // keyword.type
    .kt { color: $py-yellow; }

    // name, name.builtin, name.builtin.pseudo, name.entity, name.property, name.label
    .n,
    .nb,
    .bp,
    .ni,
    .py,
    .nl {
        color: $py-foreground;
    }

    // name.attribute, name.function, name.other
    .na,
    .nf,
    .nx {
        color: $py-blue;
    }

    // name.class, name.namespace
    .nv,
    .nn {
        color: $py-yellow;
    }

    // name.decorator, name.tag
    .nd,
    .nt {
        color: $py-aqua;
    }

    // name.constant, name.exception
    .no,
    .ne {
        color: $py-red;
    }

    // name.variabl, name.variable.class, name.variable.global, name.variable.instance
    .nv,
    .vc,
    .vg,
    .vi {
        color: $py-red;
    }

    // number, number.float, number.hex, number.integer, number.integer.long, number.oct
    .m,
    .mf,
    .mh,
    .mi,
    .il,
    .mo {
        color: $py-orange;
    }

    // operator, operator.word
    .o,
    .ow {
        color: $py-aqua;
    }

    // literal
    .l { color: $py-orange; }

    // literal.date
    .ld { color: $py-green; }

    // string, string.backtick, string.double, string.heredoc, string.other, string.regex, string.single, string.symbol
    .s,
    .sb,
    .s2,
    .sh,
    .sx,
    .sr,
    .s1,
    .ss {
        color: $py-green;
    }

    // string.char
    .sc { color: $py-foreground; }

    // string.doc
    .sd { color: $py-comment; }

    // string.escape, string.interpol
    .se,
    .si {
        color: $py-orange;
    }

    // generic
    // .g {}

    // generic.deleted
    .gd { color: $py-red; }

    // generic.emph
    .ge { font-style: italic; }

    // generic.error, generic.output, generic.traceback
    // .gr,
    // .go,
    // .gt {}

    // generic.heading
    .gh { color: $py-foreground; font-weight: 700; }
    // generic.inserted

    .gi { color: $py-green; }

    // generic.prompt
    .gp { color: $py-comment; font-weight: 700; }

    // generic.strong
    .gs { font-weight: 700; }

    // generic.subheading
    .gu { color: $py-aqua; font-weight: 700; }

}
