//  ===============================================
//
//  Header module
//
//  ===============================================

// Pygments variables
// -------------------------

$pygments_BACKGROUND: #fefefe;
$pygments_FOREGROUND: $c-fg;
$pygments_COMMENT: #999988;

$pygments_RED:          #f92683;
$pygments_ORANGE:       #d88200;
$pygments_YELLOW:       #fdca81;
$pygments_GREEN:        #75af2f;
$pygments_AQUA:         #75c5ba;
$pygments_BLUE:         #3ea8c8;
$pygments_PURPLE:       #c282ae;
$pygments_BROWN:        #a9643f;

// Pygments blocks styles
// -------------------------

.highlight, code, pre {
    font-family: $ff-mono;
    @include font-size(13);
    line-height: 1.5;
    white-space: pre;
    overflow: auto;
}

 .highlight {
    border: 1px solid #d9d9d9;
}

// Pygments colors
// -------------------------

.highlight .lineno {
    color: #8b8d8b;
    padding-right: 4px;
}

.highlight  {

    background: $pygments_BACKGROUND;
    color: $pygments_FOREGROUND;

    // Punctuation
    .p { color: $pygments_FOREGROUND; }

    // Whitespace, Other
    .w, .x {}

    // Comment, Comment.Multiline, Comment.Preproc, Comment.Single, Comment.Special
    .c, .cm, .cp, .c1, .cs { color: $pygments_COMMENT; }

    // Error
    .err { color: $pygments_RED; }

    // Keyword, Keyword.Constant, Keyword.Declaration, Keyword.Pseudo, Keyword.Reserved
    .k, .kc, .kd, .kp, .kr { color: $pygments_PURPLE; }
    // Keyword.Namespace
    .kn { color: $pygments_AQUA; }
    // Keyword.Type
    .kt { color: $pygments_YELLOW; }

    // Name, Name.Builtin, Name.Builtin.Pseudo, Name.Entity, Name.Property, Name.Label
    .n, .nb, .bp, .ni, .py, .nl { color: $pygments_FOREGROUND; }
    // Name.Attribute, Name.Function, Name.Other
    .na, .nf, .nx { color: $pygments_BLUE; }
    // Name.Class, Name.Namespace
    .nv, .nn { color: $pygments_YELLOW; }
    // Name.Decorator, Name.Tag
    .nd, .nt { color: $pygments_AQUA; }
    // Name.Constant, Name.Exception
    .no, .ne { color: $pygments_RED; }
    // Name.Variabl, Name.Variable.Class, Name.Variable.Global, Name.Variable.Instance
    .nv, .vc, .vg, .vi { color: $pygments_RED; }

    // Number, Number.Float, Number.Hex, Number.Integer, Number.Integer.Long, Number.Oct
    .m, .mf, .mh, .mi, .il, .mo { color: $pygments_ORANGE; }

    // Operator, Operator.Word
    .o, .ow { color: $pygments_AQUA; }

    // Literal
    .l { color: $pygments_ORANGE; }
    // Literal.Date
    .ld { color: $pygments_GREEN; }

    // String, String.Backtick, String.Double, String.Heredoc, String.Other, String.Regex, String.Single, String.Symbol
    .s, .sb, .s2, .sh, .sx, .sr, .s1, .ss { color: $pygments_GREEN; }
    // String.Char
    .sc { color: $pygments_FOREGROUND; }
    // String.Doc
    .sd { color: $pygments_COMMENT; }
    // String.Escape, String.Interpol
    .se, .si { color: $pygments_ORANGE; }

    // Generic
    .g {}
    // Generic.Deleted
    .gd { color: $pygments_RED; }
    // Generic.Emph
    .ge { font-style: italic; }
    // Generic.Error, Generic.Output, Generic.Traceback
    .gr, .go, .gt{}
    // Generic.Heading
    .gh { font-weight: bold; color: $pygments_FOREGROUND; }
    // Generic.Inserted
    .gi { color: $pygments_GREEN; }
    // Generic.Prompt
    .gp { font-weight: bold; color: $pygments_COMMENT; }
    // Generic.Strong
    .gs { font-weight: bold; }
    // Generic.Subheading
    .gu { font-weight: bold; color: $pygments_AQUA; }

}