$imgClass: 'Zoom';

.#{$imgClass}__wrapper {
    &, * {
        z-index: 3000;
    }
}

.#{$imgClass}__overlay {
    background-color: black(.45);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.#{$imgClass}_overlay,
.#{$imgClass}__image {
    cursor: zoom-out;
}

.#{$imgClass}__image {
    border-radius: 2px;
    box-shadow: 0 0 42px black(.75);
    position: fixed;

    // Will be overidden by inline styles set by javascript
    top: 50%;
    left: 50%;
    height: 0;
    width: 0;

    transform: translate3d(0,0,0) translate(-50%, -50%) scale(0);
    transform-origin: 50% 50%;
}

.#{$imgClass}__overlay,
.#{$imgClass}__image {
    display: block;
    opacity: 0;
    overflow: hidden;
    visibility: hidden;
    transition: .2s ease-in-out;
}

.#{$imgClass}__wrapper.is-active {
    .#{$imgClass}__overlay,
    .#{$imgClass}__image {
        opacity: 1;
        visibility: visible;
    }

    .#{$imgClass}__image {
        transform: translate3d(0,0,0) translate(-50%, -50%) scale(1);
    }
}
