<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="utf-8">

  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% elif config.extra.description %}
  <meta name="description" content="{% if page.title %}{{ page.title }}; {% endif %}{{ config.extra.description }}">
  {% else %}
  {% endif %}

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <meta name="theme-color" content="#43499A">

  <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png" />
  <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#0059f9" />

  <title>
    {% block title %}{{ config.title }}{% endblock title %}
  </title>

  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,300i,400,400i,500,500i,700,700i|IBM+Plex+Sans:300,300i,400,400i,500,500i,700,700i" rel="stylesheet">

  {% block stylesheets %}
  <link rel="stylesheet" href="/style.css">
  {% endblock stylesheets %}

  <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

   {% block html_headers %} {% endblock html_headers %}
</head>

<body id="body">

  {% block header %}
  <header class="header">
    <div>
      <a class="logo" href="/"></a>
    </div>
    <nav class="">
      <!-- <a href="/writing">Writing</a>
      <a href="/resume">Resume</a>
      <a href="https://www.github.com/lirsacc">Github</a>
      <a href="https://www.twitter.com/lirsacc">Twitter</a> -->
    </nav>
  </header>
  {% endblock header %}

  <main>
     {% block content %} {% endblock content %}
  </main>

  {% block footer %}
  <footer class="footer small">
     <div>© 2018</div>
  </footer>
  {% endblock footer %}

  {% block scripts %}
  <!-- <script src="/site.js"></script> -->
  {% endblock scripts %}
</body>

</html>
