<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="utf-8">

  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% elif config.extra.description %}
  <meta name="description" content="{% if page.title %}{{ page.title }}; {% endif %}{{ config.extra.description }}">
  {% else %}
  {% endif %}

  <title>
    {% block title %}{{ config.title }}{% endblock title %}
  </title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">

  <link rel="preload" href="/fonts/inter/Inter-Regular.optimized.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/fonts/inter/Inter-Bold.optimized.woff2" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="/fonts/ibm-plex-mono/IBMPlexMono-Regular.optimized.woff2" as="font" type="font/woff2" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block stylesheets %}
  <link rel="stylesheet" href="/style.css">
  {% endblock stylesheets %}

  {% block css %}
  {% endblock css %}

   {% block html_headers %} {% endblock html_headers %}
</head>

<body id="body">

  {% block header %}
  {% endblock header %}

  <main>
    {% block content %} {% endblock content %}
  </main>

  {% block footer %}
  <footer>
    © 2019 {{ config.extra.author }}
  </footer>
  {% endblock footer %}

  {% block scripts %}
  {% endblock scripts %}

  {% if config.extra.clicky %}
  <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push({{ config.extra.clicky }});</script>
  <script async src="//static.getclicky.com/js"></script>
  <noscript>
    <img alt="Clicky" width="1" height="1" src="//in.getclicky.com/{{ config.extra.clicky }}ns.gif" />
  </noscript>
  {% endif %}
</body>

</html>
