<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    <meta name="og:description" content="{{ page.description }}" />
    {% elif page.title %}
    <meta name="description" content="{{ page.title }}"/>
    <meta name="og:description" content="{{ page.title }}"/>
    {% elif config.extra.description %}
    <meta name="description" content="{{ config.extra.description }}"/>
    <meta name="og:description" content="{{ config.extra.description }}"/>
    {% endif %}

    {% if config.extra.author %}
    <meta name="author" content="{{ config.extra.author }}">
    {% endif %}

    {% block opengraph %}
    {% if config.extra.opengraph %}
    {% for property, content in config.extra.opengraph %}
    <meta name="og:{{ property }}" content="{{ content }}" />
    {% endfor %}
    {% endif %}
    {% endblock opengraph %}

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="/style.css" />
    {% endblock stylesheets %}

    {% block css %} {% endblock css %}

    {% block html_headers %} {% endblock html_headers %}

    <link rel="preload" href="/fonts/Inter/Inter-Regular.woff2" as="font" type="font/woff2"/ crossorigin>
    <link rel="preload" href="/fonts/Inter/Inter-Bold.woff2" as="font" type="font/woff2"/ crossorigin>
    <link rel="preload" href="/feather-sprite.svg" as="image" type="image/svg+xml"/ crossorigin>

    <link rel="prefetch" href="/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2" as="font" type="font/woff2"/ crossorigin>

    <link rel="sitemap" type="application/xml" href="/sitemap.xml" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="{{ config.title }} | Feed"
      href="/atom.xml"
    />
  </head>

  <body id="body" data-theme="auto">
    {# This is light enough that it can be here and not at the end to avoid
    splitting the script file #}
    <script src="/script.js"></script>

    {% block header %}
    <header>
      <nav>
        <a class="small no-underline name" href="/">Charles Lirsac</a>
        <a class="small no-underline {% if current_path and current_path is starting_with('/blog/') %}parent{% endif %}" href="/blog">Blog</a>
      </nav>
      <div class="theme-switcher js-theme-switcher" aria-hidden="true">
        <button
          class="icon-button"
          arial-label="Activate light theme"
          type="button"
          data-theme="light"
        >
          <svg>
            <use xlink:href="/feather-sprite.svg#sun" />
          </svg>
        </button>
        <button
          class="icon-button"
          arial-label="Activate dark theme"
          type="button"
          data-theme="dark"
        >
          <svg>
            <use xlink:href="/feather-sprite.svg#moon" />
          </svg>
        </button>
      </div>
    </header>
    {% endblock header %}

    <main>
      {% block content %} {% endblock content %}
    </main>

    <footer>
      {% block footer %}
      <div class="actions">
        <a class="atom-link icon-button" href="/atom.xml">
          <svg aria-hidden="true">
            <use xlink:href="/feather-sprite.svg#rss" />
          </svg>
          <span class="hidden">Atom feed</span>
        </a>
      </div>
      <div>
         <a class="scroll-to-top icon-button" href="#" aria-hidden="true">
          <svg>
            <use xlink:href="/feather-sprite.svg#arrow-up" />
          </svg>
          <div class="hidden">Scroll to the top of the page"</div>
        </a>
      </div>
      {% endblock footer %}
    </footer>

    {% block scripts %} {% endblock scripts %}
  </body>
</html>
