{% extends "base.html" %}

{% block header %}{% endblock %}

{% block content %}
<div class="home page">
  <h1>
    Hey there! <span class="wave">👋</span>
  </h1>
  <p>
    This is the personal website of Charles Lirsac.
  </p>
  <p>
    I'm a software engineer, currently working at <a href="https://thread.engineering">Thread</a> in London. Before that I was an engineering lead at <a href="https://www.stylight.de">Stylight</a> and a student at <a href="https://www.ec-lyon.fr/en">these</a> <a href="https://www.imperial.ac.uk/">places</a>. You can find me on <a href="https://www.github.com/lirsacc">Github</a> and <a href="https://www.linkedin.com/in/lirsacc">Linkedin</a> or just <a href="mailto:contact@lirsac.me">email me</a>.
  </p>
</div>

{% endblock content %}
