{% extends "base.html" %}

{% block content %}
<div class="home page">
  <p>
    Hey there <span class="wave">👋</span>&nbsp; I am Charles; a software
    engineer based in London. I currently work at
    <a href="https://thread.engineering">Thread</a> where I focus on
    infrastructure, Kubernetes and data pipelines alongside core user
    features. Before that I was an engineering lead at
    <a href="https://www.stylight.de">Stylight</a> where I worked on product
    feed ingestion, CRMs, financial reporting and automated billing software.
  </p>
  <p>
    You can find me on <a href="https://www.github.com/lirsacc">Github</a>
    and <a href="https://www.linkedin.com/in/lirsacc">Linkedin</a> or
    <a href="mailto:contact@lirsac.com">email me</a>.
  </p>
</div>

{% endblock content %}
