{% extends "base.html" %}

{% block header %}{% endblock %}

{% block content %}
<div class="home page">
  <h1>
    Hi there! <span class="wave">👋</span>
  </h1>
  <p>
    This is the personal website of Charles Lirsac.
  </p>
  <p>
    I'm a software engineer currently based in London where I work at
    <a href="https://thread.engineering">Thread</a>. Before that I was an
    engineering lead at <a href="https://www.stylight.de">Stylight</a> in
    Munich.
  </p>
  <p>
    You can get in touch on <a href="https://www.github.com/lirsacc">Github</a>
    and  <a href="https://www.linkedin.com/in/lirsacc">Linkedin</a> or email me
    at charles at lirsac dot me.
  </p>
</div>

{% endblock content %}
