<!DOCTYPE HTML>
{{> head }}
<body class="preload {{ body_class }}">
{{> header }}
<section class="main">
  <article class="post">
      <div class="content">
        <h1 class="post-title">{{ title }}</h1>
        <p class="meta">Published on {{{date date 'long'}}}</p>
        {{{ contents }}}
      </div>
  </article>
</section>
{{> footer }}
</body>
{{> scripts }}
{{#if production }}
{{> track }}
{{/if}}
</html>
