{% extends "base.html" %}

{% block opengraph %}
{{ super() }}
<meta name="og:url" content="{{ section.permalink }}">
{% endblock opengraph %}

{% block title %}{{ section.title | safe | title }}{%
endblock title %}

{% block content %}
<div class="page">
  <h1 class="">{{ section.title | safe | title }}</h1>

  <ul class="post-list">
    {% for page in section.pages %}
    <li>
      <a href="{{ page.permalink }}">
        <div>{{ page.title }}</div>
        <time class="meta" datetime="{{ page.date }}">
          {{ page.date | date }}
        </time>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock content %}
