{% extends "base.html" %}

{% block title %}{{ section.title | safe | title }}{% endblock title %}

{% block content %}
<div class="section">
  <h1 class="">{{ section.title | safe | title }}</h1>

  <div class="post-list">
    {% for page in section.pages %}
    <a href="{{ page.permalink }}">
      <h2>{{ page.title }}</h2>
      <div class="meta">
        <time datetime="{{ page.date }}">{{ page.date | date(format="%B, %e %Y") }}</time>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
