<!DOCTYPE HTML>
{{> head }}
<body class="preload {{ body_class }}">
{{> header }}
<section class="main page content">
    {{{ contents }}}
</section>
{{> footer }}
</body>
{{> scripts}}
{{#if production }}
{{> track }}
{{/if}}
</html>
