@charset 'utf-8';

@import 'scss/var';

*, *:after, *::before {
  box-sizing: border-box;
}

html {
  font-size: $base-size * 1px;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}

@import 'scss/helpers';

@import 'scss/objects/spinner';
@import 'scss/objects/icons';
@import 'scss/objects/social';

@import 'scss/highlight';

@import 'scss/main';

@import 'scss/menu';
@import 'scss/footer';

.preload * {
  transition: none !important;
}
