//  ===============================================
//
//  Minimal grid
//
//  ===============================================

@charset 'UTF-8' ;

//  Grid variables
//  -------------------------

//Grid full size
$grid-max-width : $w-main;
$grid-gutter : 8;
$grid-gutter-relative : 100% * $grid-gutter / $grid-max-width;
$grid-columns : 6;
$grid-base-width : (100% - (($grid-columns - 1) * $grid-gutter-relative)) / $grid-columns;

.row,
div[class^="column-"]
{
    box-sizing: border-box;
}

.row {
    width : 100%;
    margin:0 auto;
    @extend %clearfix;
}

div[class^="column-"]{
    display: block;
    float: left;

    margin-right : $grid-gutter-relative;
    &:last-of-type, &.last{
        margin-right:0;
    }

    img,
    object,
    embed{
        max-width: 100%;
        height: auto;
    }
}

@for $i from 1 through $grid-columns {
    .column-#{$i} {
        width : $i * $grid-base-width + ($i - 1) * $grid-gutter-relative ;
    }
}