a.social {
    @extend %icon;
    display: inline-block;
    position: relative;
    text-decoration: none;
    outline: none;

    &:hover, &:focus {
        outline: none;
    }

    &.github:hover              { color: $c-github; }
    &.linkedin:hover            { color: $c-linkedin; }
    &.twitter:hover             { color: $c-twitter; }
    &.google-plus:hover         { color: $google-plus-color; }
    &.email:hover               { color: $c-email; }
    &.rss:hover                 { color: $c-rss; }
}
