// Pretty loading spinner from http://tobiasahlin.com/spinkit/
.spinner {
    -webkit-animation: scaleout 1s infinite ease-in-out;
    animation: scaleout 1s infinite ease-in-out;
    background-color: #333;
    border-radius: 100%;
    height: 40px;
    margin: 40px auto;
    width: 40px;
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
    }
}

@keyframes scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
      }

    100% {
        opacity: 0;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}