// Requires variable $fs-base to be defined

//
// Functions
//======================================

@function black($opacity) {
    @return rgba(0, 0, 0, $opacity);
}

@function white($opacity) {
    @return rgba(255, 255, 255, $opacity);
}

@function ems($target, $context: $fs-base) {
    @return ($target/$context) * 1em;
}

@function rems($target) {
    @return ($target/$fs-base) * 1rem;
}

@function breakpoint($px, $context : 16) {
    @return ($px/$context) * 1em;
}

//
// Mixins
//======================================

@mixin respond-to($w, $limit: 'min') {
    @media only screen and (#{$limit}-width: breakpoint($w)) { @content; }
}

// Adapted rem/em fallback
//  From : http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
@mixin rems($property, $values...) {
    $px-values: null;
    $rem-values: null;

    @each $value in $values {
        $px-values: append($px-values, $value * 1px, space);
        $rem-values: append($rem-values, unquote(rems($value)), space);
    }

    #{$property}: $px-values;
    #{$property}: $rem-values;
}

@mixin ems($property, $context, $values...) {
    $px-values: null;
    $em-values: null;

    @each $value in $values {
        $px-values: append($px-values, $value * 1px, space);
        $em-values: append($em-values, unquote(ems($value, $context)), space);
    }

    #{$property}: $px-values;
    #{$property}: $em-values;
}

@mixin font-size($size, $context: 0) {
    font-size: $size * 1px;
    @if $context == 0 {
        font-size: rems($size);
    } @else {
        font-size: ems($size, $context);
    }
}

@mixin line-height($height, $context : $fs-main) {
    @include ems(line-height, $context, $height)
}

@mixin centered($width) {
    margin-left: auto;
    margin-right: auto;
    @include rems(max-width, $width);
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    @include respond-to($width) {
        padding-left: 0;
        padding-right: 0;
    }
}

//
// Silent Classes
//======================================

%clearfix {
    *zoom: 1;

    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after { clear: both; }
}

%center { @include centered($w-main); }

%small-center { @include centered($w-small); }

%large-center { @include centered($w-large); }
