// COLORS

$c-bg: #fff;
$c-bg-light: #fafafa;
$c-bg-clear: #f1f1f1;

$c-fg: #4c4c4c;
$c-fg-clear: #c8ccd2;
$c-fg-light: #eaeef0;

$c-accent: #0f76bc;
$c-accent-2: #e94143;

$c-linkedin: #0e76a8;
$c-twitter: #00acee;
$c-github: #171515;
$google-plus-color: #dd4b39;
$c-email: #5ba525;
$c-rss: #ee802f;

// DIMENSIONS

$w-small: 380;
$w-main: 640;
$w-large: 920;

$h-header-link: 28;
$h-header: 36;

$h-footer: 96;

// TYPOGRAPHY

$fs-base: 10;
$fs-main: 17;
$baseline:31;

$ratio: $augmented-fourth;

$fs--3: ms(-3, $fs-main $baseline, $ratio);
$fs--2: ms(-2, $fs-main $baseline, $ratio);
$fs--1: ms(-1, $fs-main $baseline, $ratio);
$fs-0: ms(0, $fs-main $baseline, $ratio);
$fs-1: ms(1, $fs-main $baseline, $ratio);
$fs-2: ms(2, $fs-main $baseline, $ratio);
$fs-3: ms(3, $fs-main $baseline, $ratio);
$fs-4: ms(4, $fs-main $baseline, $ratio);
$fs-5: ms(5, $fs-main $baseline, $ratio);
$fs-6: ms(6, $fs-main $baseline, $ratio);

$fw-main: normal;

$ff-serif: 'Roboto Slab', Georgia, serif;
$ff-sans: 'Roboto', Arial, sans-serif;
$ff-mono: 'Source Code Pro', monospace;
