//  ===============================================
//
//  Variables shared throughout all the modules and
//  components
//
//  ===============================================

// COLORS
// ---------------------------------

$bg: #f2f2f0;
$gray: #2d2d2b;
$clear: #adadad;

$accent-dark: #343f53;

// DIMENSIONS
// ---------------------------------

$main-width: 780;

// TYPOGRAPHY
// ---------------------------------

$font-base: 10;
$main-font-size: 18;
$baseline: 28;
$font-family-sans: 'Open Sans', Arial, sans-serif;
$font-family-serif: 'Merriweather', Georgia, serif;
