@charset "UTF-8";

//  ===============================================
//
//  Variables shared throughout all the modules and
//  components
//
//  ===============================================

// COLORS
// ---------------------------------

$bg: #fdfdfd;
$gray: #2a323a;

$clear: #c8ccd2;
$light: #eaeef0;

$accent: #2a94d6;

$linkedin-color: #0e76a8;
$twitter-color: #00acee;
$github-color: #171515;
$email-color: #5ba525;
$rss-color: #ee802f;

// DIMENSIONS
// ---------------------------------

$main-width: 640;

$header-height: 64;
$header-height-with-cover: 380;

$footer-height: 48;

// TYPOGRAPHY
// ---------------------------------

$font-base: 10;
$main-font-size: 18;
$baseline: 28;
$font-family-sans: 'Open Sans', Arial, sans-serif;
$font-family-serif: 'Merriweather', Georgia, serif;

@font-face {
  font-family: "icons";
  src:url("../fonts/icons.eot");
  src:url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons.woff") format("woff"),
    url("../fonts/icons.ttf") format("truetype"),
    url("../fonts/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}