//  ===============================================
//
//  Variables shared throughout all the modules and
//  components
//
//  ===============================================

// COLORS
// ---------------------------------

$bg: #fbfbfd;
$gray: #2e4052;

// DIMENSIONS
// ---------------------------------

$main-width: 780;
$header-height: 64;
$footer-height: 64;

// TYPOGRAPHY
// ---------------------------------

$font-base: 10;
$main-font-size: 18;
$baseline: 28;
$font-family-sans: 'Open Sans', Arial, sans-serif;
$font-family-serif: 'Merriweather', Georgia, serif;