$linkedin: #0e76a8;
$twitter: #00acee;
$github: #171515;
$google-plus: #dd4b39;
$email: #5ba525;
$rss: #ee802f;

a.social {
  @extend %icon;
  display: inline-block;
  position: relative;
  text-decoration: none;
  outline: none;

  &:hover, &:focus {
      outline: none;
  }

  &.github:hover              { color: $github; }
  &.linkedin:hover            { color: $linkedin; }
  &.twitter:hover             { color: $twitter; }
  &.google-plus:hover         { color: $google-plus; }
  &.email:hover               { color: $email; }
  &.rss:hover                 { color: $rss; }
}
